<!DOCTYPE html>
<title>Blog List </title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
<body>
<nav class="navbar">
    <a class="navbar-brand" href="/">My Blog</a>
    <a class="navbar-brand" href="/blog-list">List Blogs</a>
    <a class="navbar-brand" href="/blog-add">Add Blogs</a>
</nav>
<div class="container">
    <h1>Blog List</h1>
   <div class = "row">
    <% if Array.isArray(blogList) && blogList.length > 0 %>
        <% blogList.forEach(function(blog) { %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.blogTitle %></h5>
                    </div>
                    <div class= "card-text">
                        <p><%= blog.blogEntry %></p>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <span class = "posted-date">Created On <%= new Date(blog.createdOn)</span>
                        <div>
                            <a href="/blog-edit/<%= blog._id %>" class="btn btn-primary">Edit</a>
                            <a href="/blog-delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                        </div>
   </div>
</html>
